.ContenidoNav{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 8fr 2fr;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-color: gray;
    background: linear-gradient(lightgray 70%,gray);
}

#logoSuperior{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logoSuperior img{
    width: 100px;
    height: 100px;
    margin: 25px;
    margin-left: 0;
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuBotones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 15px;
}

.Cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Cart img{
    width: 25px;
    height: 25px;
}
